<%- include('header') %>
    <h1 class="text-center mt-4">Mes favoris</h1>



    <div class="d-inline-flex flex-wrap justify-content-center">
    <% detailedMovies.forEach((movie)=> { %>
            <div class="m-4">
                <h6><%= movie.movieDetails.Title %></h6>
                <img src="<%= movie.movieDetails.Poster %>" alt="<%= movie.movieDetails.Title %> Poster">
                <p>Année: <%= movie.movieDetails.Year %>
                </p>
                <p>Réalisateur: <%= movie.movieDetails.Director %>
                </p>
                <form  action="/favorite/delete-favorite/<%= movie.favoriteId %>" method="post">
                    <button class="btn btn-primary" type="submit">Supprimer favoris</button>
                </form>
            </div>
    <% }); %>
    </div>




        <%- include('footer') %>