<%- include('header') %>

<!-- Votre formulaire de recherche ici -->

<h1>Résultats</h1>

<% if (data.Error) { %>
    <p><%= data.Error %></p>
<% } else if (data.Search && data.Search.length > 0) { %>
    <table>
        <tr>
            <th>Année</th>
            <th>Nom</th>
            <th>Affiche</th>
            <th>Lien vers IMDB</th>
        </tr>
        <% data.Search.forEach(function(item){ %>
            <tr>
                <% const imdb_url = 'https://www.imdb.com/title/' + item['imdbID'] %>
                <td><%= item['Year'] %></td>
                <td><%= item['Title'] %></td>
                <td><img src="<%= item['Poster'] %>" alt=""></td>
                <td><a href="<%= imdb_url %>">Voir sur IMDB</a></td>
                <td>
                    <form action="/add-favorite/<%= item.imdbID %>" method="post">
                        <button type="submit">Ajouter aux favoris</button>
                    </form>
                </td>
            </tr>
        <% }) %>
    </table>

    <!-- Pagination -->
    <div>
        <% if (currentPage > 1) { %>
            <a href="/results?search=<%= query %>&type=<%= type %>&page=<%= currentPage - 1 %>">Page précédente</a>
        <% } %>

        Page <%= currentPage %> / <%= totalPages %>

        <% if (currentPage < totalPages) { %>
            <a href="/results?search=<%= query %>&type=<%= type %>&page=<%= currentPage + 1 %>">Page suivante</a>
        <% } %>
    </div>

<% } else { %>
    <p>Aucun résultat trouvé.</p>
<% } %>

<br/>
<a href="/">Chercher à nouveau</a>

<%- include('footer') %>

     